/* AATE Settings - Color */
$aate-palette: (
  blue: #3d79a8,
  dark-blue: #284659,
  teal: #3CA8A5,
  dark-teal:#2B7875,
  black: #000000,
  gray: #ced4da,
  gray-medium: #6c757d,
  gray-dark: #495057,
  gray-darkest: #212529,
  white: #ffffff
);

/* Color Palette to Variables
*
* This mixin transfers the colors in the `$aate-palette`map into variables, such as `$aate-red` and `$aate-dark-blue`.
*/

@mixin add-aate-colors() {
  @if map-has-key($aate-palette, blue) {
    $aate-blue: map-get($aate-palette, blue) !global;
    .aate-color-blue {
      background-color: $aate-blue;
    }
  }
  @if map-has-key($aate-palette, dark-blue) {
    $aate-dark-blue: map-get($aate-palette, dark-blue) !global;
    .aate-color-dark-blue {
      background-color: $aate-dark-blue;
    }
  }  
  @if map-has-key($aate-palette, teal) {
    $aate-teal: map-get($aate-palette, teal) !global;
    .aate-color-teal {
      background-color: $aate-teal;
    }
  }
  @if map-has-key($aate-palette, dark-teal) {
    $aate-dark-teal: map-get($aate-palette, dark-teal) !global;
    .aate-color-dark-teal {
      background-color: $aate-dark-teal;
    }
  }
  @if map-has-key($aate-palette, black) {
    $aate-black: map-get($aate-palette, black) !global;
    .aate-color-black {
      background-color: $aate-black;
    }
  }
  @if map-has-key($aate-palette, gray-darkest) {
    $aate-gray-darkest: map-get($aate-palette, gray-darkest) !global;
    .aate-color-gray-darkest {
      background-color: $aate-gray-darkest;
    }
  }
  @if map-has-key($aate-palette, gray-dark) {
    $aate-gray-dark: map-get($aate-palette, gray-dark) !global;
    .aate-color-gray-dark {
      background-color: $aate-gray-dark;
    }
  }
  @if map-has-key($aate-palette, gray-medium) {
    $aate-gray-medium: map-get($aate-palette, gray-medium) !global;
    .aate-color-gray-medium {
      background-color: $aate-gray-medium;
    }
  }
  @if map-has-key($aate-palette, gray) {
    $aate-gray: map-get($aate-palette, gray) !global;
    .aate-color-gray {
      background-color: $aate-gray;
    }
  }
  @if map-has-key($aate-palette, white) {
    $aate-white: map-get($aate-palette, white) !global;
    .aate-color-white {
      background-color: $aate-white;
    }
  }
}

@include add-aate-colors;
