/* Typography */

.lead {
  line-height: 1.85em;
}

h2, .h2 {
  color: $aate-dark-teal;
}

.entry-content > p:first-of-type:not(.has-small-font-size):not(.small):not(.has-large-font-size) {
  @extend .lead;
}

.entry-content > p,
.entry-content > ul {

  @include media-breakpoint-up(lg) {
    max-width: 80%;
  }
}

.entry-content ul li {
  margin-bottom: 0.5rem;
}