@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Lato|Roboto");

// Importing AATE colors to override bootstrap colors
@import "../_settings/colors";

// Bootstrap overrides
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.

// Color system
$blue: $aate-blue;
$primary: $aate-blue;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-size-base:  1rem !default;

$h3-font-size:  $font-size-base * 1.5 !default;
$h4-font-size:  $font-size-base * 1.25 !default;
$h5-font-size:  $font-size-base * 1.15 !default;
$h6-font-size:  $font-size-base !default;

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base: $font-family-sans-serif !default;

$headings-font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-weight: 700 !default;

$line-height-base:            1.65 !default;

$lead-font-family: $headings-font-family;
$lead-font-weight: 300 !default;

$hr-margin-y:                 $spacer * 2;

// Navbar
$navbar-nav-link-padding-x: 1rem !default;

$navbar-light-color: rgba($aate-dark-blue, 0.8) !default;
$navbar-light-hover-color: rgba($aate-dark-blue, 1) !default;
$navbar-light-active-color: rgba($aate-dark-blue, 1) !default;
//$navbar-light-disabled-color: rgba($black, 0.3) !default;
