<h3>Bootstrap</h3>
<h4>Default</h4>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>
<br /><br />
<h4>Outline</h4>
<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>

<hr>

<h3>WP Gutenberg Block - buttons</h3>
<p>Overrides for Gutenber button styles</p>

<h4>Default button</h4>
<div class="entry">
    <div class="entry-content">
        <div class="wp-block-button is-style-default">
            <a class="wp-block-button__link has-text-color has-dark-blue-color" href="#">Default button</a>
        </div>
    </div>
</div>
<br />

<h4>Outline button</h4>
<div class="entry">
    <div class="entry-content">
        <div class="wp-block-button is-style-outline">
            <a class="wp-block-button__link has-text-color has-dark-blue-color" href="#">Outline
                button</a>
        </div>
    </div>
</div>
<br />

<h4>Squared button</h4>
<p class="small">Squared doesn't match this theme's styleguide so we should disable this option</p>
<div class="entry">
    <div class="entry-content">
        <div class="wp-block-button is-style-squared">
            <a class="wp-block-button__link has-text-color has-dark-blue-color" href="#">Squared button</a></div>
    </div>
</div>
<br />