<div class="aate-hero-two" role="banner">
    <div class="container pt-7 pb-6 text-white">
        <div class="row">
            <div class="col-md">
                <h1>Community. Advocacy. Innovation</h1>
                <p class="lead">Welcome to the Association for Athletic Training Education. Welcome to the Association
                    for Athletic Training Education. Welcome to the Association for Athletic Training Education.</p>
                <button class="btn btn-outline-light">Join us!</button>
            </div>
            <div class="col-md">
                <div class="skew-wrapper">
                    <div class="skew">
                        <div class="unskew"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="aate-hero-two" role="banner">
    <div class="container pt-7 pb-6 text-white">
        <div class="row">
            <div class="col-md">
                <h1>Community. Advocacy. Innovation</h1>
                <p class="lead">Welcome to the Association for Athletic Training Education. Welcome to the Association
                    for Athletic Training Education. Welcome to the Association for Athletic Training Education.</p>
                <button class="btn btn-outline-light">Join us!</button>
            </div>
            <div class="col-md">
                <div class="skew-wrapper">
                    <div class="skew">
                        <img src="https://s30451.pcdn.co/wp-content/uploads/2018/07/Catra-Cropped-2.jpg" />

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>