/* Featured Members */
.aate-featured-members {
    background-color: $aate-blue;
    color: $white;
    text-align: center;
    padding: 2rem 1rem;
}

.aate-featured-members_logos img {
    margin: 0.5rem;
    max-width: 130px;
}