<section id="work-smarter" style="background-color:#3d79a8;">
    <div class="container">
        <div class="inner px-4 py-5 text-center text-white">
            <h3>Connect with AATE</h3>
            <p>Become a member and connect with our community.</p>
            <div class="logo-container mb-4"> <img
                    src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/42feb2498e08d8fbd357e19d331da908/logo-adobe.svg"
                    width="165" height="37"> <img
                    src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/83b3c2b3542d1ce997306dd2c76a898d/logo-kickstarter.svg"
                    width="207" height="24"> <img
                    src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/99b35981e7c571708532ba39f0764aeb/logo-national-geographic.svg"
                    width="166" height="46"> <img
                    src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/4838c7256b43105d3abe0631ac1bb72c/logo-google.svg"
                    width="143" height="46"> <img
                    src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/759e9aaacc706fd1f2d5f81b1a76b768/logo-fender.svg"
                    width="153" height="55"> </div>
            <p><a href="#" class="btn btn-outline-light px-3">Find out how</a></p>
        </div>
    </div>
</section>