<div class="container">
  <h4>Primary</h4>
  <p>This palette's primary colors are blue, dark gray, and white. Whenever possible they should be accompanied by
    photography or balanced by the secondary color palette.</p>
  <div class="row">
    <div class="col-lg">
      <div class="aate-color-block aate-color-blue"></div>
      <p class="aate-color-info">#3d79a8<br>$aate-blue</p>
    </div>
    <div class="col-lg">
      <div class="aate-color-block aate-color-gray-darkest"></div>
      <p class="aate-color-info">#212529<br>$aate-gray-darkest</p>
    </div>
    <div class="col-lg">
      <div class="aate-color-block aate-color-white"></div>
      <p class="aate-color-info">#FFFFFF<br>$aate-white</p>
    </div>
  </div>
</div>

<div class="container">
  <h4>Secondary</h4>
  <p>These are accent colors to provide additional life to the page. These colors should be used to highlight important
    features on a page, such as buttons, or for visual style elements, such as illustrations. They should be used
    sparingly with any eye for balance and never draw the eye to more than one piece of information at a time.</p>
  <div class="row">
    <div class="col-lg-4">
      <div class="aate-color-block aate-color-teal"></div>
      <p class="aate-color-info">#007CBB<br>$aate-teal</p>
    </div>
  </div>
</div>

<div class="container">
  <h4>Shades</h4>
  <p>These slightly darker versions of the primary and secondary colors and can be used to add depth to icons,
    illustrations and blocks of color. They should only be used with the color they are a shade of.</p>
  <div class="row">
    <div class="col-lg-4">
      <div class="aate-color-block aate-color-dark-teal"></div>
      <p class="aate-color-info">#B20F26<br>$aate-dark-teal</p>
    </div>
  </div>
</div>

<div class="container">
  <h4>Background Colors</h4>
  <p>These colors are used for background blocks and large content areas. They can be overlapped to create depth
    within a content area or alternate with white to distinguish large content areas from each other.</p>
  <div class="row">
    <div class="col-lg-4">
      <div class="aate-color-block aate-color-blue"></div>
      <p class="aate-color-info">#3d79a8<br>$aate-blue</p>
    </div>
    <div class="col-lg-4">
      <div class="aate-color-block aate-color-teal"></div>
      <p class="aate-color-info">#007CBB<br>$aate-teal</p>
    </div>
  </div>
</div>

<div class="container">
  <h4>Neutrals</h4>
  <p>These colors are primarily for copy.</p>
  <div class="row">
    <div class="col-lg-4">
      <div class="aate-color-block aate-color-black"></div>
      <p class="aate-color-info">#000000<br>$aate-black</p>
    </div>
    <div class="col-lg-4">
      <div class="aate-color-block aate-color-gray-darkest"></div>
      <p class="aate-color-info">#212529<br>$aate-gray-darkest</p>
    </div>
    <div class="col-lg-4">
      <div class="aate-color-block aate-color-gray-dark"></div>
      <p class="aate-color-info">#495057<br>$aate-gray-dark</p>
    </div>
    <div class="col-lg-4">
      <div class="aate-color-block aate-color-gray-medium"></div>
      <p class="aate-color-info">#6c757d<br>$aate-gray-medium</p>
    </div>
    <div class="col-lg-4">
      <div class="aate-color-block aate-color-gray"></div>
      <p class="aate-color-info">#ced4da<br>$aate-gray</p>
    </div>
  </div>
</div>

<style scoped>
  @media only screen and (min-width: 760px) {
    .grid-x .cell {
      margin-left: 12px;
      margin-right: 12px;
    }

    .grid-x .cell:first-of-type {
      margin-left: 0;
    }

    .grid-x .cell:last-of-type {
      margin-right: 0;
    }
  }

  .aate-color-block {
    height: 100px;
    margin-bottom: 16px;
  }

  .aate-color-white {
    border: 1px solid #979797;
  }
</style>