<div class="container">
  <h4>Primary</h4>
  <p>This palette's primary colors are red, dark gray, and white. Whenever possible they should be accompanied by photography or balanced by the secondary color palette.</p>
  <div class="row">
    <div class="col-lg">
      <div class="wex-color-block wex-color-red"></div>
      <p class="wex-color-info">#CF102D<br>$wex-red</p>
    </div>
    <div class="col-lg">
      <div class="wex-color-block wex-color-gray-darkest"></div>
      <p class="wex-color-info">#333333<br>$wex-gray-darkest</p>
    </div>
    <div class="col-lg">
      <div class="wex-color-block wex-color-white"></div>
      <p class="wex-color-info">#FFFFFF<br>$wex-white</p>
    </div>
  </div>
</div>

<div class="container">
  <h4>Secondary</h4>
  <p>These are accent colors to provide additional life to the page. These colors should be used to highlight important features on a page, such as buttons, or for visual style elements, such as illustrations. They should be used sparingly with any eye for balance and never draw the eye to more than one piece of information at a time.</p>
  <div class="row">
    <div class="col-lg">
      <div class="wex-color-block wex-color-blue"></div>
      <p class="wex-color-info">#007CBB<br>$wex-blue</p>
    </div>
    <div class="col-lg">
      <div class="wex-color-block wex-color-green"></div>
      <p class="wex-color-info">#248200<br>$wex-green</p>
    </div>
    <div class="col-lg">
      <div class="wex-color-block wex-color-yellow"></div>
      <p class="wex-color-info">#FFBE3B<br>$wex-yellow</p>
    </div>
  </div>
</div>

<div class="container">
  <h4>Shades</h4>
  <p>These slightly darker versions of the primary and secondary colors and can be used  to add depth to icons, illustrations and blocks of color. They should only be used with the color they are a shade of.</p>
  <div class="row">
    <div class="col-lg-4">
      <div class="wex-color-block wex-color-dark-red"></div>
      <p class="wex-color-info">#B20F26<br>$wex-dark-red</p>
    </div>
    <div class="col-lg-4">
      <div class="wex-color-block wex-color-dark-blue"></div>
      <p class="wex-color-info">#0562A6<br>$wex-dark-blue</p>
    </div>
    <div class="col-lg-4">
      <div class="wex-color-block wex-color-dark-green"></div>
      <p class="wex-color-info">#217A00<br>$wex-dark-green</p>
    </div>
    <div class="col-lg-4">
      <div class="wex-color-block wex-color-dark-yellow"></div>
      <p class="wex-color-info">#F5B83D<br>$wex-dark-yellow</p>
    </div>
  </div>
</div>

<div class="container">
  <h4>Accent Colors</h4>
  <p>These slightly brighter versions of the primary and secondary colors and can be used to bring attention, but should be used in moderation.</p>
  <p>The wex-light-green for example, is used for small info icons. <span style="color: #82ba23;"><i class="fas fa-question-circle"></i></span></p>
  <div class="row">
    <div class="col-lg">
      <div class="wex-color-block wex-color-light-green"></div>
      <p class="wex-color-info">#82ba23<br>$wex-light-green</p>
    </div>
</div>

<div class="container">
  <h4>Background Colors</h4>
  <p>These colors are used for background blocks and large content areas. They can be overlapped to create depth within a content area or alternate with white to distinguish large content areas from each other.</p>
  <div class="row">
    <div class="col-lg-4">
      <div class="wex-color-block wex-color-blue-12"></div>
      <p class="wex-color-info">rgba(12, 59, 136, 0.12)<br>$wex-blue-12</p>
    </div>
    <div class="col-lg-4">
      <div class="wex-color-block wex-color-blue-8"></div>
      <p class="wex-color-info">rgba(12, 59, 136, 0.08)<br>$wex-blue-8</p>
    </div>
    <div class="col-lg-4">
      <div class="wex-color-block wex-color-blue-4"></div>
      <p class="wex-color-info">rgba(12, 59, 136, 0.04)<br>$wex-blue-4</p>
    </div>
  </div>
</div>

<div class="container">
  <h4>Neutrals</h4>
  <p>These colors are primarily for copy.</p>
  <div class="row">
    <div class="col-lg-4">
      <div class="wex-color-block wex-color-black"></div>
      <p class="wex-color-info">#000000<br>$wex-black</p>
    </div>
    <div class="col-lg-4">
      <div class="wex-color-block wex-color-gray-darkest"></div>
      <p class="wex-color-info">#333333<br>$wex-gray-darkest</p>
    </div>
    <div class="col-lg-4">
      <div class="wex-color-block wex-color-gray-dark"></div>
      <p class="wex-color-info">#555555<br>$wex-gray-dark</p>
    </div>
    <div class="col-lg-4">
      <div class="wex-color-block wex-color-gray-medium"></div>
      <p class="wex-color-info">#747575<br>$wex-gray-medium</p>
    </div>
    <div class="col-lg-4">
      <div class="wex-color-block wex-color-gray"></div>
      <p class="wex-color-info">#B1B3B6<br>$wex-gray</p>
    </div>
  </div>
</div>

<style scoped>
  @media only screen and (min-width: 760px) {
    .grid-x .cell {
      margin-left: 12px;
      margin-right: 12px;
    }

    .grid-x .cell:first-of-type {
      margin-left: 0;
    }

    .grid-x .cell:last-of-type {
      margin-right: 0;
    }
  }
  
  .wex-color-block {
    height: 100px;
    margin-bottom: 16px;
  }

  .wex-color-white {
    border: 1px solid #979797;
  }
</style>