/* Footer CTA */

.aate-footer-cta {
    text-align: center;
    background: $aate-teal;
    padding: 2rem 1rem;
}

.aate-footer-cta h3 {
    font-size: 1.75rem;
}

.aate-footer-cta p {
    font-size: 1.25rem;
}
