<section class="jumbotron aate-footer-cta text-center"
    style="background-color:#3CA8A5; font-size: 1.75rem; padding: 2rem 1rem;">
    <div class="container">
        <h3>Join us at our event in Boston on July 11th!</h3>
        <a href="#" class="btn btn-outline-dark">Learn More</a>
    </div>
</section>