<section class="aate-footer-cta">
    <div class="container">
        <h3>Join us at our event in Boston on July 11th!</h3>
        <p>This is a test with a lot of text. What do you think? How does it look?</p>
        <a href="#" class="btn btn-outline-dark">Learn More</a>
    </div>
</section>