/* Footer */
$footer-anchor-color: #fefefe;

.aate-footer {
  background: linear-gradient(-30deg, #383838, #383838 45%, #303030 45%) $white;

  color: $footer-anchor-color;
  padding: 50px 0;
  clear: both;
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: initial;
  }
}

.aate-footer_logo {
  max-width: 150px;
}

.aate-footer-menu {
  width: 100%;
}

.aate-footer nav ul.menu li a {
  color: $footer-anchor-color;
}

.aate-footer .navbar-nav {
  width: 100%;
}

.aate-footer .nav-link {
  width: 100%;
}

.aate-footer li.aate-menu-button {
  @include media-breakpoint-up(sm) {
    margin-left: auto;
  }
}
.aate-footer .navbar-dark .navbar-nav .aate-menu-button .nav-link {
  @extend .btn;
  @extend .btn-outline-light;
  border-width: 3px;
  color: $white;

  &:active,
  &:focus,
  &:hover {
    color: $black;
  }
}

.aate-footer_bottom > div {
  border-top: 1px solid #8a8a8a;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.aate-footer_social-list {

  ul {
    padding-left: 0;

    li {
      display: inline-block;
      
      & + li {
        margin-left: 12px;
      }

      a {
        font-weight: 500;
        display: inline-block;
        text-decoration: none;

        &:hover, &:active, &:focus {
          opacity: 0.6;
        }
      }
    } 
  }

  .fa, .fab {
    color: $footer-anchor-color;
    font-size: 32px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }
}