/* Footer */

.aate-footer {
  //background: #303030;
  background: linear-gradient(-30deg, #383838, #383838 45%, #303030 45%) #fff;

  color: #fefefe;
  padding: 50px 0;
  clear: both;
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: initial;
  }
}

.aate-footer_logo {
  max-width: 200px;
}

.aate-footer-menu {
  width: 100%;
}

.aate-footer nav {
  border-bottom: 1px solid #8a8a8a;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}

.aate-footer nav ul.menu li a {
  color: #fefefe;
}

.aate-footer .navbar-nav {
  width: 100%;
}

.aate-footer .nav-link {
  width: 100%;
}

.aate-footer li.aate-menu-button {
  @include media-breakpoint-up(sm) {
    margin-left: auto;
  }
}
.aate-footer .navbar-dark .navbar-nav .aate-menu-button .nav-link {
  @extend .btn;
  @extend .btn-outline-light;
  border-width: 3px;
  color: $white;
  
  &:active,
  &:focus,
  &:hover {
    color: #000000;
  }
}

