<footer class="aate-footer">
    <div class="container">

        <div class="row">
            <div class="col-md-2">
                <a href="#" aria-label="Go to the AATE home page.">
                    <img class="aate-footer_logo" src="{{ path '/img/logo-aate-white.png' }}"></a>
            </div>
            <div class="col-md-10">

                <nav class="navbar navbar-expand-md navbar-dark">
                    <div class="aate-footer-menu">
                        <ul id="menu-footer-nav" class="navbar-nav ml-auto">
                            <li id="menu-item-322"
                                class="menu-item menu-item-type-post_type_archive menu-item-object-chxd_resource menu-item-322">
                                <a href="#" class="nav-link">Resources</a></li>
                            <li id="menu-item-471"
                                class="menu-item menu-item-type-post_type_archive menu-item-object-chxd-event menu-item-471">
                                <a href="#" class="nav-link">Events</a></li>
                            <li id="menu-item-160"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-160"><a
                                    href="#" class="nav-link">Membership</a></li>
                            <li id="menu-item-751"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-751"><a
                                    href="#" class="nav-link">About</a></li>
                            <li id="menu-item-751"
                                class="aate-menu-button menu-item menu-item-type-post_type menu-item-object-page menu-item-751">
                                <a href="#" class="nav-link">Contact Us</a></li>

                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="row aate-footer_bottom">
            <div class="col-md-6">
                <nav class="aate-footer_social-list">
                    <ul id="menu-social" class="">
                        <li id="menu-item-235"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-235"><a
                                target="_blank" rel="noopener noreferrer"
                                href="https://www.facebook.com/pg/AssocATEdu/posts/?ref=page_internal"><span
                                    class="sr-only">Facebook</span><i class="fa fa-facebook-square"></i></a></li>
                        <li id="menu-item-238"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-238"><a
                                target="_blank" rel="noopener noreferrer" href="https://twitter.com/AssocATEdu"><span
                                    class="sr-only">Twitter</span><i class="fa fa-twitter-square"></i></a></li>
                        <li id="menu-item-239"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-239"><a
                                target="_blank" rel="noopener noreferrer"
                                href="https://www.linkedin.com/groups/12202899/"><span class="sr-only">LinkedIn</span><i
                                    class="fa fa-linkedin-square"></i></a></li>
                        <li id="menu-item-240"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-240"><a
                                target="_blank" rel="noopener noreferrer"
                                href="https://www.instagram.com/assocatedu/"><span class="sr-only">Instagram</span><i
                                    class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6 text-right">
                <p>
                    Association for Athletic Training Education, Inc.<br>
                    7613 Elmwood Avenue<br>
                    PO Box 620762<br>
                    Middleton, WI 53562 </p>
            </div>
        </div>

    </div>
</footer>