<div class="font-roboto">
    <h1>Roboto</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quidem placeat, fuga quo! A quasi expedita
        debitis porro perferendis hic sit maiores quia voluptate iste obcaecati doloribus, dignissimos id excepturi
        nobis, illo cum, quo ipsum molestiae. Quae quod atque quasi velit totam impedit voluptatibus recusandae illo
        consequatur minima.</p>
    <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</p>
    <hr>
</div>

<div class="font-opensans">
    <h1>Open Sans</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quidem placeat, fuga quo! A quasi expedita
        debitis porro perferendis hic sit maiores quia voluptate iste obcaecati doloribus, dignissimos id excepturi
        nobis, illo cum, quo ipsum molestiae. Quae quod atque quasi velit totam impedit voluptatibus recusandae illo
        consequatur minima.</p>
    <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</p>
</div>

<style scoped>
    .font-opensans h1,
    .font-opensans p {
        font-family: 'Open Sans';
        text-align: left;
    }

    .font-roboto h1,
    .font-roboto p {
        font-family: 'Roboto';
        text-align: left;
    }
</style>