<div class="aate-hero-three mb-4" role="banner">
    <div class="container pt-7 pb-6">
        <div class="row">
            <div class="col-md" style="padding-bottom: 2rem; padding-top: 2rem;">
                <h1>Community. Advocacy. Innovation</h1>
                <p class="lead">Welcome to the Association for Athletic Training Education. Welcome to the Association
                    for Athletic Training Education. Welcome to the Association for Athletic Training Education.</p>
                <button class="btn btn-outline-primary">Join us!</button>
            </div>
            <div class="col-md">
                <div class="skew-wrapper">
                    <div class="skew-3">
                        <img src="https://www.wcu.edu/WebGraphicsNew/learn-academics/AthleticTraining-Ug.jpg" />
                        <div class="unskew-3"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>