<div class="aate-hero" role="banner">
    <div class="container pt-7 pb-6 text-white">
        <h1>Community. Advocacy. Innovation</h1>
        <p class="lead">Welcome to the Association for Athletic Training Education.</p>
    </div>
</div>