/* Memberpress Plugin Form Styles */

body:not(.page-template-aate-account) {
    .mp_wrapper {
        @extend .row;
    }
}

.mepr-signup-form, 
.mp_login_form,
.mepr_error {
    @include make-col-ready();
    @include make-col(12);
    @include media-breakpoint-up(lg) {
        @include make-col(6);
    }    
}

.mp_login_form form {
    width: 100%;
}

/* Memberpress Plugin Account Styles */

.page-template-aate-account { 
    
    .row .mp_wrapper {
        @include make-col-ready();
        @include make-col(12);
        margin-bottom: 2rem;   

        @include media-breakpoint-up(lg) {
            @include make-col(3);
        }
    }
    .row > .mp_wrapper ~ .mp_wrapper {
        @include make-col(12);

        @include media-breakpoint-up(lg) {
            @include make-col(9);
        }
    }

    // Navigation
    .row .mp_wrapper:first-child {
        border-bottom: 5px solid rgba(12,59,136,.08);

        @include media-breakpoint-up(lg) {
            border-bottom: 0;
        }
    }
}

$accordion-icon-arrow: '\f105';
$accordion-title-color: $body-color;
$accordion-icon-arrow-transition: transform 0.15s linear;

.aate-account-nav-btn {
    font-size: 1.5rem;
    font-family: $headings-font-family;
    font-weight: 700;
    padding: .75rem 1rem;
    text-decoration: none;
    position: relative;
    color: $accordion-title-color;

    &:active, &:visited, &:hover, &:focus {
      text-decoration: underline;
      color: $accordion-title-color;
    }   

    &:after {
        @include fa-icon($accordion-icon-arrow);
        text-decoration:underline;
        display:inline-block;
        position: absolute;
        color: $aate-teal;    
        left: 0;
        top: 50%;    
        transform: translate(0, -50%);
        transform-origin: center;
        transition: $accordion-icon-arrow-transition;
    }
  
    /* IE issue - need to set text-decoration here, othwerwise the underline shows below the arrow */
    &:after,
    &:hover:after {text-decoration:none;}

    &[aria-expanded="true"]::after{
        transform: translate(0, -50%) rotate(90deg);
    }

    .accordion-item.is-active .accordion-title::after {
        transform: translate(0, -50%) rotate(90deg);
    }
}

div#mepr-account-nav {
    font-size: 18px;
    padding-left: 1rem;
    @include media-breakpoint-up(lg) {
        padding-left: 0;
    }
}

div#mepr-account-nav:not(.collapsing):not(.show) {
    display: none;
    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.mepr-nav-item {
    position: relative;
    margin-bottom: 24px;
    line-height: 1.33;
}

.mepr-active-nav-tab>a:before {
    content: "";
    width: 6px;
    background-color: $aate-blue;
    display: block;
    position: absolute;
    left: -15px;
    top: -5px;
    bottom: -5px;
}


//.collapsing

.mepr-nav-item {
    display: block;
}

// Text
#mepr-account-welcome-message p {
    @extend .lead;
}

// Table

.mepr-account-table {
    @extend .table;
}

.mepr-account-table thead {
    @extend .thead-light;
}