/* Memberpress Plugin Form Styles */
.mepr-unauthorized-message {
    @include make-col-ready();
    @include make-col(12);
}

.mepr-signup-form, 
.mp_login_form,
.mepr_loginform {
    width: 50%;
    max-width: 50%;
}

.mp_login_form form {
    width: 100%;
}

.mp-spacer {
    display: none;
}

.mepr-login-actions {
    margin-top: 1rem;
}

/* Form Styles  */

.mp_wrapper .mp-form-row {
    margin-bottom: 1.5rem;
}

/* Form Validation Styles  */
.mepr_error,
.mepr-unauthorized-message {
    color: $danger;
    background-color: lighten($danger, 40%) !important;
    border: 1px solid $danger !important;
}

.mp_wrapper .mepr-form-has-errors, 
.mp_wrapper .cc-error {
    color: $danger;
}

.mp_wrapper .mepr-form-has-errors {
    margin-top: 1rem;
    padding-left: 0;
}

.mepr-form {
    input.invalid,
    select.invalid,
    textarea.invalid,
    label.mepr-checkbox-field.invalid,
    div.mepr-checkboxes-field.invalid,
    div.mepr-radios-field.invalid {
        border: 1px solid $danger !important;
        background-color: initial !important;
    }
}

.mp-form-label .cc-error {
    //display: block;
    font-size: 0.825rem;
    padding: 0;
    @include media-breakpoint-up(lg) {
        float: right;
    }
}

/* Memberpress Plugin Account Styles */

.page-template-aate-account .aate-hero {
    @include media-breakpoint-down(md) {
        margin-bottom: 0;
    }
}

.page-template-aate-account { 

    .row {
        justify-content: space-between;
    }

    .row > .mp_wrapper ~ .mp_wrapper,
    .mp-no-subs {
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(lg) {
            @include make-col(9);
        }

        @include media-breakpoint-down(md) {
            border-top: 1px solid $gray-300;
            padding-top: 1rem;
        }
    }
}

$accordion-icon-arrow: '\f105';
$accordion-title-color: $body-color;
$accordion-icon-arrow-transition: transform 0.15s linear;

.aate-account-nav-btn {
    font-size: 1.25rem;
    font-family: $headings-font-family;
    font-weight: 700;
    padding: .75rem 1rem;
    text-decoration: none;
    position: relative;
    color: $accordion-title-color;

    &:active, &:visited, &:hover, &:focus {
      text-decoration: underline;
      color: $accordion-title-color;
    }   

    &:after {
        @include fa-icon($accordion-icon-arrow);
        text-decoration:underline;
        display:inline-block;
        position: absolute;
        color: $aate-teal;    
        left: 0;
        top: 50%;    
        transform: translate(0, -50%);
        transform-origin: center;
        transition: $accordion-icon-arrow-transition;
    }
  
    /* IE issue - need to set text-decoration here, othwerwise the underline shows below the arrow */
    &:after,
    &:hover:after {text-decoration:none;}

    &[aria-expanded="true"]::after{
        transform: translate(0, -50%) rotate(90deg);
    }

    .accordion-item.is-active .accordion-title::after {
        transform: translate(0, -50%) rotate(90deg);
    }
}

div#mepr-account-nav {
    font-size: 18px;
    padding-left: 1rem;
    @include media-breakpoint-up(lg) {
        padding-left: 0;
    }
}

div#mepr-account-nav:not(.collapsing):not(.show) {
    display: none;
    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.mepr-nav-item {
    position: relative;
    margin-bottom: 24px;
    line-height: 1.33;
}

.mepr-active-nav-tab>a:before {
    content: "";
    width: 6px;
    background-color: $aate-blue;
    display: block;
    position: absolute;
    left: -15px;
    top: -5px;
    bottom: -5px;
}


//.collapsing

.mepr-nav-item {
    display: block;
}

// Text
#mepr-account-welcome-message p {
    @extend .lead;
}

// Table

.mepr-account-table {
    @extend .table;
}

.mepr-account-table thead {
    @extend .thead-light;
}

/* Corporate Accounts  */

.mpca-fat-bottom {
    margin-bottom: 1rem;
}

#mpca_sub_accounts_used h4 {
    @extend .h6;
}

#mpca-add-sub-user {
    border-bottom: 5px solid rgba(12,59,136,.08);
}

.mepr_suggest_user {
    margin-bottom: 1rem;
}

#mpca_signup_url {
    padding-top: 2rem;
    border-top: 5px solid rgba(12,59,136,.08);
}

#mpca-add-sub-user-btn {
    @extend .btn;
    @extend .btn-outline-dark;
}

.mpca-search {
    padding-top: 1rem;
}

#mpca-add-sub-user-form {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: $gray-200;
}

.mpca-sub-account-page-info {
    font-size: 0.825rem;
    text-align: right;
}

.mepr-account-actions,
.mpca-remove-sub-account {
    font-size: 0.825rem; 
}

#mpca_export_sub_accounts {
    text-align: right;

    a:before {
        content: "\f019";
        display: inline-block;
        font-family: FontAwesome;
        margin-right: 0.25rem;
    }
}