<main class="site-main container" id="main-content" role="main">


    <div class="row post-220 page type-page status-publish hentry" id="post-220">

        <div class="mp_wrapper">
            <div id="mepr-account-nav">
                <span class="mepr-nav-item mepr-home">
                    <a href="http://associationforathletictraini-109feac8ba0083af7244.local/account/?action=home"
                        id="mepr-account-home">Home</a>
                </span>
                <span class="mepr-nav-item mepr-subscriptions">
                    <a href="http://associationforathletictraini-109feac8ba0083af7244.local/account/?action=subscriptions"
                        id="mepr-account-subscriptions">Subscriptions</a></span>
                <span class="mepr-nav-item mepr-payments">
                    <a href="http://associationforathletictraini-109feac8ba0083af7244.local/account/?action=payments"
                        id="mepr-account-payments">Payments</a>
                </span>
                <span class="mepr-nav-item"><a
                        href="http://associationforathletictraini-109feac8ba0083af7244.local/wp-login.php?action=logout&amp;redirect_to=http%3A%2F%2Fassociationforathletictraini-109feac8ba0083af7244.local%2Flogin%2F&amp;_wpnonce=e69a3fb720"
                        id="mepr-account-logout">Logout</a></span>
            </div>
        </div>


        <div class="mp_wrapper">
            <div id="mepr-account-welcome-message">
                <p>Welcome to Association for Athletic Training Education</p>
            </div>





            <form class="mepr-account-form mepr-form" id="mepr_account_form" action="" method="post" novalidate="">
                <input type="hidden" name="mepr-process-account" value="Y">
                <input type="hidden" id="mepr_account_nonce" name="mepr_account_nonce" value="ad78b0d8a8"><input
                    type="hidden" name="_wp_http_referer" value="/account/">

                <div class="mp-form-row mepr_first_name">
                    <div class="mp-form-label">
                        <label for="user_first_name">First Name:</label>
                        <span class="cc-error">First Name Required</span>
                    </div>
                    <input type="text" name="user_first_name" id="user_first_name" class="mepr-form-input" value="">
                </div>
                <div class="mp-form-row mepr_last_name">
                    <div class="mp-form-label">
                        <label for="user_last_name">Last Name:</label>
                        <span class="cc-error">Last Name Required</span>
                    </div>
                    <input type="text" id="user_last_name" name="user_last_name" class="mepr-form-input" value="">
                </div>
                <div class="mp-form-row mepr_email">
                    <div class="mp-form-label">
                        <label for="user_email">Email:*</label>
                        <span class="cc-error">Invalid Email</span>
                    </div>
                    <input type="email" id="user_email" name="user_email" class="mepr-form-input"
                        value="janeconnolly@gmail.com" required="">
                </div>

                <div class="mepr_spacer">&nbsp;</div>

                <input type="submit" name="mepr-account-form" value="Save Profile"
                    class="mepr-submit mepr-share-button">
                <img src="http://associationforathletictraini-109feac8ba0083af7244.local/wp-admin/images/loading.gif"
                    style="display: none;" class="mepr-loading-gif">
                <span class="mepr-form-has-errors">Please fix the errors above</span>

            </form>

            <div class="mepr_spacer">&nbsp;</div>

            <span class="mepr-account-change-password">
                <a href="http://associationforathletictraini-109feac8ba0083af7244.local/account/?action=newpassword">Change
                    Password</a>
            </span>

        </div>
    </div><!-- .row #post-## -->

</main>