{{> @header}}

{{> @hero-three}}

<!--
{{> @hero-two}}
-->
<!--
{{> @hero}}
-->

<main id="mainContent">


    <div class="container" id="content">

        <div class="row">

            <div class="col-md-12 content-area" id="primary">

                <main class="site-main" id="main" role="main">


                    <article class="post-101 page type-page status-publish hentry" id="post-101">
                        <!--<header class="entry-header">
        <h1 class="entry-title">Community. Advocacy. Innovation.</h1>	</header> .entry-header -->


                        <div class="entry-content">


                            <p>Welcome to the AATE! Our purpose is to provide a community that serves as a collective
                                voice for matters pertaining to athletic training education. We act with deliberate
                                speed to advance education and the athletic training profession.<br></p>



                            <div class="wp-block-columns has-2-columns">
                                <div class="wp-block-column">
                                    <p>Membership is open to institutions and organizations that sponsor education
                                        programs at any level, with membership resources for those associated with the
                                        program. </p>
                                </div>



                                <div class="wp-block-column">
                                    <figure class="wp-block-image"><img
                                            src="http://associationforathletictraini-109feac8ba0083af7244.local/wp-content/uploads/2019/04/pencil-and-sharpener-4-1024x684.jpg"
                                            alt="" class="wp-image-31"
                                            srcset="http://associationforathletictraini-109feac8ba0083af7244.local/wp-content/uploads/2019/04/pencil-and-sharpener-4-1024x684.jpg 1024w, http://associationforathletictraini-109feac8ba0083af7244.local/wp-content/uploads/2019/04/pencil-and-sharpener-4-300x200.jpg 300w, http://associationforathletictraini-109feac8ba0083af7244.local/wp-content/uploads/2019/04/pencil-and-sharpener-4-768x513.jpg 768w, http://associationforathletictraini-109feac8ba0083af7244.local/wp-content/uploads/2019/04/pencil-and-sharpener-4-1568x1047.jpg 1568w"
                                            sizes="(max-width: 1024px) 100vw, 1024px">
                                        <figcaption>Pencil with sharpening shavings on color wooden background
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>



                            <p>Membership is open to institutions and organizations that sponsor education programs at
                                any level, with membership resources for those associated with the program. </p>



                            <div class="wp-block-button is-style-squared"><a
                                    class="wp-block-button__link has-text-color has-very-light-gray-color"
                                    href="http://86985f21.ngrok.io/membership/">This is a button!</a></div>



                            <hr class="wp-block-separator">





                        </div><!-- .entry-content -->

                        <footer class="entry-footer">

                            <span class="edit-link"><a class="post-edit-link"
                                    href="http://associationforathletictraini-109feac8ba0083af7244.local/wp-admin/post.php?post=101&amp;action=edit">Edit</a></span>
                        </footer><!-- .entry-footer -->

                    </article><!-- #post-## -->



                </main><!-- #main -->

            </div><!-- #primary -->

        </div><!-- .row end -->

    </div>


    <div class="container pt-5 pb-5">
        <div class="card-deck">
            {{> @card}}
            {{> @card}}
            {{> @card}}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
            </div>
            <div class="col-sm-4">
                <h3>Column 2</h3>
                <p>Lorem ipsum dolor <a href="#">this is a test</a>..</p>
                <p>Ut enim ad..</p>
            </div>
            <div class="col-sm-4">
                <h3>Column 3</h3>
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
            </div>
        </div>
    </div>

    <div class="jumbotron aate-footer-cta" style="background-color:orange; font-size: 1.75rem;">
        <div class="container">
            <p class="lead">Learn about our upcoming event.</p>
        </div>
    </div>


</main>

{{> @footer}}