<div id="wrapper-navbar" class="aate-navbar">
	<nav class="navbar navbar-expand-md navbar-light">

		<div class="container">

			<!-- Your site title as branding in the menu
			<div class="navbar-brand mb-0">
				<a rel="home" href="#" title="AATE" itemprop="url"><img src="{{ path '/img/logo-aate_white.svg' }}"
						alt="AATE Logo"></a>
			</div> -->
			<div class="navbar-brand mb-0">
				<a rel="home" href="#" title="AATE" itemprop="url"><img src="{{ path '/img/logo-aate.svg' }}"
						alt="AATE Logo"></a>
			</div>
			<!-- end custom logo -->

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<div class="aate-nav-container">
				<div class="aate-top-menu">
					<ul id="top-menu" class="navbar-nav ml-auto">
						<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
							id="menu-item-92"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-92 nav-item"><a
								title="Membership"
								href="http://associationforathletictraini-109feac8ba0083af7244.local/membership/"
								class="nav-link">Membership</a></li>
						<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
							id="menu-item-90"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90 nav-item"><a
								title="Jobs"
								href="http://associationforathletictraini-109feac8ba0083af7244.local/job-listings/"
								class="nav-link">Jobs</a></li>
						<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
							id="menu-item-91"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91 nav-item"><a
								title="Contact"
								href="http://associationforathletictraini-109feac8ba0083af7244.local/contact/"
								class="nav-link">Contact</a></li>
						<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
							id="menu-item-89"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89 nav-item"><a
								title="Login"
								href="http://associationforathletictraini-109feac8ba0083af7244.local/login/"
								class="nav-link">Login</a></li>
					</ul>
				</div>

				<!-- The WordPress Menu goes here -->
				<div id="navbarNavDropdown" class="aate-main-menu collapse navbar-collapse">
					<ul id="main-menu" class="navbar-nav">
						<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
							id="menu-item-1639"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-1639 nav-item">
							<a title="Unit Test Pages" href="#" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false" class="dropdown-toggle nav-link"
								id="menu-item-dropdown-1639">About</a>
							<ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-1639" role="menu">
								<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
									id="menu-item-1697"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1697 nav-item">
									<a title="Page Image Alignment"
										href="https://understrap.com/understrap/?page_id=1133"
										class="dropdown-item">Page Image Alignment</a></li>
								<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
									id="menu-item-1698"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1698 nav-item">
									<a title="Page Markup And Formatting"
										href="https://understrap.com/understrap/?page_id=1134"
										class="dropdown-item">Page
										Markup
										And Formatting</a></li>
								<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
									id="menu-item-1640"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1640 nav-item">
									<a title="Clearing Floats" href="https://understrap.com/understrap/?page_id=501"
										class="dropdown-item">Clearing Floats</a></li>
								<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
									id="menu-item-1641"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1641 nav-item">
									<a title="Page with comments" href="https://understrap.com/understrap/?page_id=155"
										class="dropdown-item">Page with comments</a></li>
								<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
									id="menu-item-1642"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1642 nav-item">
									<a title="Page with comments disabled"
										href="https://understrap.com/understrap/?page_id=156" class="dropdown-item">Page
										with
										comments disabled</a></li>
							</ul>
						</li>
						<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
							id="menu-item-1785"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1785 nav-item"><a
								title="Single Link" href="https://understrap.com/understrap/?page_id=2"
								class="nav-link">Research</a></li>
						<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
							id="menu-item-1786"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1786 nav-item"><a
								title="Single Link" href="https://understrap.com/understrap/?page_id=2"
								class="nav-link">Conference</a></li>

						<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
							id="menu-item-96"
							class="aate-mobile-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-96 nav-item">
							<a title="Become a Member"
								href="http://associationforathletictraini-109feac8ba0083af7244.local/join/"
								class="nav-link">Mobile Only link</a></li>

						<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
							id="menu-item-96"
							class="aate-mobile-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-96 nav-item">
							<a title="Become a Member"
								href="http://associationforathletictraini-109feac8ba0083af7244.local/join/"
								class="nav-link">Another Mobile</a></li>

						<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
							id="menu-item-96"
							class="aate-mobile-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-96 nav-item">
							<a title="Become a Member"
								href="http://associationforathletictraini-109feac8ba0083af7244.local/join/"
								class="nav-link">One Last Mobile</a></li>

						<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
							id="menu-item-96"
							class="aate-menu-button menu-item menu-item-type-post_type menu-item-object-page menu-item-96 nav-item">
							<a title="Become a Member"
								href="http://associationforathletictraini-109feac8ba0083af7244.local/join/"
								class="nav-link">Become a Member</a></li>
					</ul>
				</div>


			</div>
		</div><!-- .container -->

	</nav><!-- .site-navigation -->
</div>