{{> @header}}

{{> @hero-three}}

<main id="mainContent">




    <div class="container pt-5 pb-5">
        <div class="card-deck">
            {{> @card}}
            {{> @card}}
            {{> @card}}
        </div>
    </div>

    <div class="jumbotron text-center">
        <h1>My First Bootstrap Page</h1>
        <p>Resize this responsive page to see the effect!</p>
    </div>
</main>

{{> @footer}}