{{> @header}}

{{> @hero-four}}

<main id="mainContent">

    <article class="container post-23 page type-page status-publish hentry" id="post-23">
        <!--<header class="entry-header">
        <h1 class="entry-title">About the AATE</h1>	</header> .entry-header -->


        <div class="entry-content">


            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>



            <h2>Vision</h2>



            <p>Athletic trainers who practice at the
                highest levels of collaborative care and respond to the changing healthcare
                needs of society. </p>


            <h2>Purpose</h2>



            <p>Our purpose is to provide a community
                that serves as a collective voice for matters pertaining to athletic training
                education.&nbsp;We act with deliberate speed to advance education and the
                athletic training profession. &nbsp;</p>



            <p><strong>The AATE will: </strong></p>



            <ul>
                <li>Advocate for educational programs on matters pertaining to accreditation, regulation, certification,
                    representation, and policy. </li>
                <li>Identify and support research that advances athletic training education. </li>
                <li>Seek to collaborate with the CAATE, BOC, NATA, and NATA Foundation on issues impacting education.
                </li>
                <li>Create a community of practice that facilitates communication among those involved in athletic
                    training education. </li>
                <li>Provide guidance and resources for the development of innovative and model practices in athletic
                    training education. </li>
                <li>Identify strategies to recruit and retain students who want athletic training as a career. </li>
                <li>Offer faculty development in teaching, scholarship, leadership, and program administration. </li>
                <li>Provide a platform and resources for faculty recruitment. </li>
                <li>Promote innovation in athletic training education. </li>
                <li>Foster new partnerships with national and international organizations and agencies in the interest
                    of advancing our mission. </li>
            </ul>



            <h2>Structure</h2>



            <p>Membership will be open to institutions and organizations that sponsor education programs at any level,
                with membership resources for those associated with the program. </p>



            <p><a href="http://86985f21.ngrok.io/contact/" class="btn btn-primary">Contact us</a></p>




        </div><!-- .entry-content -->

        <br /><br /><br />

    </article>

    {{> @footer-cta}}
</main>

{{> @footer}}