/* Override WP Gutenberg Block styles
 * https://github.com/WordPress/gutenberg/tree/master/packages/block-library/src/button
*/

/*
$font__size-sm: 1rem;
$font__line-height-heading: 1rem;
$size__spacing-unit: 1rem;
$color__background-button: red;
$color__background-button-hover: pink;
*/

//.entry .entry-content {
//! Button
.wp-block-button {
  .wp-block-button__link {
    @extend .btn;
    /*  
      //@include button-transition;
      border: none;
      font-size: $font__size-sm;
      //@include font-family($font__heading);
      line-height: $font__line-height-heading;
      box-sizing: border-box;
      font-weight: bold;
      text-decoration: none;
      padding: ($size__spacing-unit * 0.76) $size__spacing-unit;
      outline: none;
      */

    //&:not(.has-background) {
    //background-color: $color__background-button;
    //}

    /*
      &:not(.has-text-color) {
        color: white;
      }

      &:hover {
        color: white;
        background: $color__background-button-hover;
        cursor: pointer;
      }

      &:focus {
        color: white;
        background: $color__background-button-hover;
        outline: thin dotted;
        outline-offset: -4px;
      }*/
  }

  /*
    &:not(.is-style-squared) .wp-block-button__link {
      border-radius: 5px;
    }*/

  /*
    &.is-style-outline .wp-block-button__link,
    &.is-style-outline .wp-block-button__link:focus,
    &.is-style-outline .wp-block-button__link:active {
      //@include button-all-transition;
      border-width: 2px;
      border-style: solid;

      &:not(.has-background) {
        background: transparent;
      }

      &:not(.has-text-color) {
        color: $color__background-button;
        border-color: currentColor;
      }
    }

    &.is-style-outline .wp-block-button__link:hover {
      color: white;
      border-color: $color__background-button-hover;
      &:not(.has-background) {
        color: $color__background-button-hover;
      }
    }*/

  &:not(.is-style-squared):not(.is-style-outline):not(.is-style-default) .wp-block-button__link {
    @extend .btn-primary;
  }

  &.is-style-default .wp-block-button__link,
  &.is-style-squared .wp-block-button__link {
    @extend .btn-primary;
    //border-color: currentColor;
  }

  &.is-style-outline .wp-block-button__link {
    @extend .btn-outline-primary;
  }
}
//}
